*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    color: #ECF0F1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li, a, button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ECF0F1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
}
.logo{
font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin-right: auto;
    /* height: 100px; */
    color: rgb(255, 0, 0);
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    transition: all 0.3s ease 0s;
}
.logo:hover{
    box-shadow: 0px 0px 20px 2px red;
scale: 120%;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 50px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: rgba(360,0,0,1);
}
button{
    padding: 9px 25px;
    background-color: rgba(360,0,0,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(360,0,0,0.5);
}
#body{
    color: #ECF0F1;
    font-size: large;
}
.but{
    margin: 15px 35px 15px 35px;
}
.main{
    
    margin: 50px 15% 50px 15%;
    margin: 50 50 50 50;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ti{
    color: #ECF0F1;
    text-align: center;
    border-radius: 10px;
    margin: 10px 25% 10px 25%;
    transition: all 0.3s ease 0s;
    font-size: large;
}
.ti:focus{
    box-shadow: 0px 0px 15px 1px rgb(81, 0, 255);;
    outline-color: rgb(81, 0, 255);
    background-color: rgb(81, 0, 255);
}
a:hover{
    color: rgba(360,0,0,1);
}
.Dibba{
}
